@model RealEstateAgency.Models.Agent

@{
    Layout = "_adminLayout";
}

<h3 class="text-center">Ви впевнені, що хочете видалити цього агента?</h3>
<div class="center-form">
    <div class="form-container">
        <dl class="row">
            <dt class="col-sm-6">
                Ідентифікатор агента:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AgentID)
            </dd>
            <dt class="col-sm-6">
                Ім'я:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-6">
                Прізвище:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-6">
                Контактний телефон:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-6">
                Процент коміссії:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CommissionPercentage)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="AgentID" />
            <div class="w-100 text-center">
                <input type="submit" value="Видалити" class="btn btn-danger w-100" />
                <a asp-action="Index" class="btn btn-secondary mt-3">Повернутись до списку</a>
            </div>
        </form>
    </div>
</div>