@model RealEstateAgency.Models.CustomerRequest

@{
    Layout = "_adminLayout";
}

<div class="center-form">
    <div class="form-container">
        <dl class="row">
            <dt class="col-sm-6">
                Ідентифікатор запиту:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RequestID)
            </dd>
            <dt class="col-sm-6">
                Ідентифікатор нерухомості:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PropertyID)
            </dd>
            <dt class="col-sm-6">
                Ім'я:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-6">
                Контактний телефон:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-6">
                Електронна пошта
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div class="w-100 text-center">
            <a asp-action="Edit" asp-route-id="@Model?.RequestID" class="btn btn-primary">Відредагувати</a>
            <a asp-action="Index" class="btn btn-secondary mt-3">Повернутись до списку</a>
        </div>
    </div>
</div>