@model IEnumerable<RealEstateAgency.Models.Property>

@{
    Layout = "_adminLayout";
    //TODO add filters and sorting
}
<p>
    <a class="position-relative start-50 translate-middle text-decoration-none text-primary fs-3 fw-bold" asp-action="Create">Додати</a>
</p>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Тип нерухомості
                    </th>
                    <th>
                        Адреса
                    </th>
                    <th>
                        Ціна
                    </th>
                    <th>
                        Створено
                    </th>
                    <th>
                        Статус
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PropertyType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @{
                                if (item.IsForRent)
                                {
                                    @Html.DisplayFor(modelItem => item.RentPrice)
                                    <span>грн/міс.</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Price)
                                    <span>грн</span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PropertyID">Змінити</a> |
                            <a asp-action="Details" asp-route-id="@item.PropertyID">Деталі</a> |
                            <a asp-action="Delete" asp-route-id="@item.PropertyID">Видалити</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
